<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Ninom</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
</head>

<body>
<div class="hero_area">
    <!-- header section strats -->
    <div class="brand_box">
        <a class="navbar-brand" href="index.html">
        <span>
               CHÈ SẦU
        </span>
        </a>
    </div>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="img-box">
                        <img src="images/che-sau-rieng-da-nang-12.jpg" style="height: 800px;width: 1500px" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="img-box">
                        <img src="images/recipe_2229 (1).jpg"  style="height: 800px;width: 1500px"alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="img-box">
                        <img src="images/combo.jpg" style="height: 800px;width: 1500px"alt="">
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <!-- end slider section -->
</div>

<!-- nav section -->

<section class="nav_section">
    <div class="container">
        <div class="custom_nav2">
            <nav class="navbar navbar-expand custom_nav-container ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex  flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">
                            <li class="nav-item active">
                                <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About </a>
                            </li>
                            <li class="nav-item">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cart">SHOPPING CART</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>

<!-- end nav section -->

<!-- shop section -->

<section class="shop_section layout_padding">
    <div class="container">
        <div class="box">
            <div class="detail-box">
                <h2>
                    CHÈ SẦU
                </h2>
                <p>
                  Sầu Vì Chè
                </p>
            </div>
        </div>
    </div>
</section>

<!-- end shop section -->

<!-- about section -->

<section class="about_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 px-0">
                <div class="img-box">
                    <img src="images/combo.jpg" alt="">
                </div>
            </div>
            <div class="col-md-5">
                <div class="detail-box">
                    <div class="heading_container">
                        <hr>
                        <h2>
                            About Our CHÈ SẦU
                        </h2>
                    </div>
                    <p>
                        CHÈ SẦU là món ngon khá kén người ăn. Người ăn được thì nghiện vô cùng, người không ăn được thì đến ngửi cũng không chịu nổi. Thế nhưng đây lại là một trong những món ăn vặt hút khách nhất, ở đâu có chè sầu là ở đó có những tín đồ trung thành của sầu riêng.                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->

<!-- fruit section -->

<section class="fruit_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <hr>
            <h2>
                Chè Sầu-Sầu vì Chè
            </h2>
        </div>
    </div>
    <% products.map(item=>{%>
    <div class="container-fluid">

        <div class="fruit_container">

            <div class="box">
                <img src="<%= item.image%>" alt="">
                <div class="link_box">
                    <h5>
                        <%= item.name%>
                    </h5>
                    <h5>
                        <%=item.price %>
                    </h5>
                    <h5>
                        <%=item.category.name %>
                    </h5>
                    </a>
                    <iframe name="dummyframe" id="dummyframe" style="display: none"></iframe>
                    <form action="/addToCart" method="post" target="dummyframe" id="form-<%=item._id %>">
                        <input type="text" value="<%=item._id %>" name="idProduct" hidden>
                    </form>
                    <a href="#" class="shopping-cart" onclick=" document.getElementById('form-<%=item._id %>').submit()">ADD SHOPPING CART</a>
                    <a href="buynow/<%=item._id%>">
                        Buy Now
                    </a>
                </div>
            </div>
        </div>
         <%   })  %>

    </div>
</section>

<!-- end fruit section -->


<!-- client section -->

<section class="client_section layout_padding-bottom">
    <div class="container ">
        <div class="heading_container">
            <hr>
        </div>
        <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="client_container layout_padding-top">
                        <div class="img-box">
                            <img src="images/Screenshot 2023-04-19 105823.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                THÔNG TIN LIÊN HỆ:
                            </h5>
                            <p>
                                <img src="images/left-quote.png" alt="">
                                <span>
                    Dễ nhìn ,Dễ tìm
                  </span>
                                <img src="images/right-quote.png" alt=""> <br>

                                THÔNG TIN LIÊN HỆ:
                                Địa chỉ: Số 1 Nguyễn Huy Tưởng, Quận Thanh Xuân, Hà Nội
                                Giờ mở cửa: 08:30 - 23:00
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_container layout_padding-top">
                        <div class="img-box">
                            <img src="images/recipe_2229 (1).jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                              Menu Đa dạng
                            </h5>
                            <p>
                                <img src="images/left-quote.png" alt="">
                                <span>
                     Thực Đơn Phong Phú
                  </span>
                                <img src="images/right-quote.png" alt=""> <br>
                                Ngoài chè sầu riêng, menu quán cũng có thêm những loại chè và món ăn vặt khác hấp dẫn không kém. Chè Xưa - Chè Sầu & Ăn Vặt có cơ cở tại quận Thanh Xuân rất dễ tìm. Mức giá dao động cho một tô chè từ 10.000 – 33.000 VNĐ. Giá thành quá rẻ so với chất lượng mà người dùng nhận được. Có không ít người đánh giá rằng, chè sầu riêng ở đây là món chè gây thương nhớ mà bất kì ai khi tới Hà Nội đều phải thử qua. Giá cả vừa phải, dễ tìm, dễ ăn, đã vậy mùi vị lại còn thơm ngon khó cưỡng - chẳng trách sao mà suốt bao năm qua, chè sầu vẫn luôn là thức ăn vặt được yêu thích hàng đầu của giới trẻ Việt.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_container layout_padding-top">
                        <div class="img-box">
                            <img src="images/che-sau-rieng-da-nang-12.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                             Nguyên Liệu sạch
                            </h5>
                            <p>
                                <img src="images/left-quote.png" alt="">
                                <span>
                  Nguyên liệu của món chè sầu
                  </span>
                                <img src="images/right-quote.png" alt=""> <br>
                                Nguyên liệu của món chè sầu được chuẩn bị đầy đủ, kĩ lưỡng gồm sầu riêng, mít chín, đậu xanh, vải thiều, nước cốt dừa. Đặc biệt, trong tô chè đầy ụ còn có thêm sữa tươi và thạch rau câu vô cùng ngon miệng. Chè sầu riêng đậu xanh bột báng, chè không dùng hương liệu. Loại ít ngọt. Được nấu bằng đậu xanh với cơm sầu riêng loại 1. Chè ăn kèm nước dừa đặc biệt của quán. Rất thích hợp ăn tráng miệng hoặc ăn xế thay thế các món như Trà sữa.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</section>


<section class="info_section layout_padding">
    <div class="container">
        <div class="info_logo">
            <h2>
                NiNom
            </h2>
        </div>
        <div class="info_contact">
            <div class="row">
                <div class="col-md-4">
                    <a href="">
                        <img src="images/location.png" alt="">
                        <span>
                Passages of Lorem Ipsum available
              </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="">
                        <img src="images/call.png" alt="">
                        <span>
                Call : +012334567890
              </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="">
                        <img src="images/mail.png" alt="">
                        <span>
                demo@gmail.com
              </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="info_form">
                    <form action="">
                        <input type="text" placeholder="Enter your email">
                        <button>
                            subscribe
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="info_social">
                    <div>
                        <a href="">
                            <img src="images/facebook-logo-button.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="images/twitter-logo-button.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="images/linkedin.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="images/instagram.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- end info section -->


<!-- footer section -->
<section class="container-fluid footer_section ">
    <p>
        &copy; <span id="displayYear"></span> All Rights Reserved. Design by
        <a href="https://html.design/">Free Html Templates</a>
    </p>
</section>
<!-- footer section -->

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

</body>

</html>